{% load static %} 

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS only -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css"
    />
    <!-- <link rel="stylesheet" href="style2.css" /> -->
    {% block css_files %}
    <link rel="stylesheet" href="{% static 'myapp/style1.css' %}">
    {% endblock %}
    <title>Nathan's Portfolio</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg bg-dark navbar-dark py-3 fixed-top">
      <div class="container">
        <a href="#" class="navbar-brand">Artwork Portfolio</a>

        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navmenu"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navmenu">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a href="#learn" class="nav-link">What you'll get</a>
            </li>
            <li class="nav-item">
              <a href="#questions" class="nav-link">questions</a>
            </li>
            <li class="nav-item">
              <a href="designs" class="nav-link">Designs</a>
            </li>
            {% if request.user.is_authenticated %}
            <li class="nav-item header__menuItem">
              <a class="btn btn-light" href="{% url 'logout' %}" class="nav-link">Logout</a>
            </li>
            {% else %}
            <li class="nav-item header__menuItem">
              <a class="btn btn-light" href="{% url 'login' %}" class="nav-link">Login/Signup</a>
            </li>
            {% endif %}

          </ul>
        </div>
      </div>
    </nav>

    <!--showcase-->
    <section
      class="bg-dark text-light p-5 p-lg-0 pt-lg-5 text-center text-sm-start"
    >
      <div class="container">
        <div class="d-sm-flex align-items-center justify-content-between">
          <div>
            <h1>
              Buy Amazing <span class="text-warning">Steam Artworks</span>
            </h1>
            <p class="lead">
              I focus on quality, and my clients satisfaction, it is important
              to me that you are getting what you want! So order now and get
              your amazing artworks in no time.
            </p>
            <!-- <form action="{% url 'register' %}" method="POST">
            {% csrf_token %}
            {{form.as_p}} -->
           <a href="designs"><button class="btn-primary btn-lg" data-bs-toggle="modal" data-bs-target="#enroll">Order Now</button></a>
            <!-- </form> -->
          </div>
          <img
            class="img-fluid w-50 d-none d-sm-block"
            src="{% static 'myapp/obanai art.jpg' %}"
            alt=""
          />
        </div>
      </div>
    </section>

    <!--newsletter-->
    <section class="bg-secondary text-light p-5">
      <div class="container">
        <div class="d-md-flex justify-content-between align-items-center">
          <h3 class="mb-3 mb-md-0">Sign up for purchasing</h3>

          <div class="input-group mb-3 news-input"> 
            <input
              type="text"
              class="form-control"
              placeholder="contact on discord Nathan.#8203"
            />
            <button
              class="btn btn-dark btn-lg"
              type="button"
              id="button-addon2"
            >
              Submit
            </button>
          </div>
        </div>
      </div>
    </section>

    <!--boxes-->
    <section id="sec-2" class="p-5">
      <div class="container">
        <div class="row text-center g-4">
          <div class="col-md">
            <div id="img-1" class="card bg-dark text-light">
              <div id="txt-1" class="h1 mb-3">
                <i class="bi bi-laptop"></i>
                <h3 class="card-title mb-3">Artworks</h3>
                <p class="card-text">
                  Buy amazing Steam Artworks, either choose one of my premade Designs
              or opt for a newly made custom design! Contact for details.
                </p>
                <a href="designs" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div id="img-2" class="card bg-secondary text-light">
              <div id="txt-2" class="h1 mb-3">
                <i class="bi bi-laptop"></i>
                <h3 class="card-title mb-3">Wallpapers</h3>
                <p class="card-text">
                  Looking for amazing desktop or mobile live wallpapers ? Just like with 
                  artworks, you can choose from my premade designs or opt for a custom one
                </p>
                <a href="designs" class="btn btn-dark">Read more</a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div id="img-3" class="card bg-dark text-light">
              <div id="txt-3" class="h1 mb-3">
                <i class="bi bi-laptop"></i>
                <h3 class="card-title mb-3">Websites</h3>
                <p class="card-text">
                  Looking for a website of your own which fulfills all your business needs?
                  Then this is the right place for you! Contact for more details.
                </p>
                <a href="designs" class="btn btn-primary">Read more</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--learn-->
    <section id="learn" class="p-5">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md">
            <img src="./obanai art.jpg" class="w-100 img-fuild" alt="" />
          </div>
          <div class="col-md p=5">
            <h2>What you'll get</h2>
            <p class="lead text-light">
              Here, you can get pretty much anything you desire! 
            </p>
            <p class="text-light">
              From amazing premade to custom made artworks, live wallpapers, twitch profiles, 
              discord banners/avatars, websites, or even game development!
            </p>
            <a href="" class="btn btn-light mt-3">
              <i class="bi bi-chevron-right"> </i> Read more
            </a>
          </div>
        </div>
      </div>
    </section>

    <section id="learn" class="p-5 bg-dark text-light">
      <div class="container">
        <div class="row align-items-center justify-content-between">
          <div class="col-md p=5">
            <h2>Order now</h2>
            <p class="lead">
              Are you interested in ordering something ?
            </p>
            <p>
              Feel free to reach out to me on any of my given social media accounts, and I'll
              surely get back to you as soon as I can!
            </p>
            <a href="#questions" class="btn btn-light mt-3" >
              <i class="bi bi-chevron-right" > </i> Read more
            </a>
          </div>
          <div class="col-md">
            <img src="./obanai art.jpg" class="w-100 img-fuild" alt="" />
          </div>
        </div>
      </div>
    </section>

    <!--question-->
    <section id="questions" class="p-5">
      <div class="container">
        <h2 class="text-center mb-4">Frequently Asked Questions</h2>
        <div class="accordion accordion-flush" id="questions">
          <!--item1-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button
                id="button-info"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-one"
                
              >
                Do you have an email I can contact you on ?
              </button>
            </h2>
            <div
              id="question-one"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingOne"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                Yes I do, haseebmlk12@gmail.com
              </div>
            </div>
          </div>
          <!--item2-->
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button
                id="button-info"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-two"
                
              >
                Where can I buy them ?
              </button>
            </h2>
            <div
              id="question-two"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingTwo"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                This is my discord, simply contact me here, Nathan.#8203
              </div>
            </div>
          </div>
          <!--item2-->
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button
                id="button-info"
                class="accordion-button collapsed"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#question-three"
                
              >
                Do you work fast, and how is the quality of the product ?
              </button>
            </h2>
            <div
              id="question-three"
              class="accordion-collapse collapse"
              aria-labelledby="flush-headingThree"
              data-bs-parent="#questions"
            >
              <div class="accordion-body">
                You can expect the delivery to be quite fast, but I still spend lot of time on each 
                aspect, just so I deliver you amazing quality.
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>


    <section class="p-5">
        <div class="container">
            <div class="row g-4">
                <div class="col-md">
                    <h2 class="text-center-mb-4">Contact Info</h2>
                    <ul class="list-group list-group-flush lead">
                        <li class="list-group-item">
                            <span class="fw-bold">Discord: </span>Nathan.#8203<br>
                            <span class="fw-bold">Email: </span>haseebmlk12@gmail.com<br>
                            <span class="fw-bold">Instagram: </span>instagram.com/nathan_.47<br>
                        </li>
                    </ul>
                </div>
                <div class="col-md"></div>
            </div>
        </div>
    </section>
    <!--footer-->
    <footer class="p-5 bg-dark text-white text-center position-relative">
        <div class="container">
            <p class="lead">Copyright &copy: 2023 Nathan's Portfolio</p>

            <a href="" class="position-absolute bottom-0 end-0 p-5">
                <i class="bi bi-arrow-up-circle h1"></i>
            </a>
        </div>
    </footer>


        <!-- Modal -->
        <!-- <div class="modal fade" id="enroll" tabindex="-1" aria-labelledby="enrollLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p class="lead">Fill out this form and I'll get back to you</p>
                <form>
                    <div class="mb-3">
                        <label for="first-name" class="col-form-label">
                            First name
                        </label>
                        <input type="text" class="form-control" id="first-name">
                    </div>
                    <div class="mb-3">
                        <label for="last-name" class="col-form-label">
                            last name
                        </label>
                        <input type="text" class="form-control" id="last-name">
                    </div>
                    <div class="mb-3">
                        <label for="email-name" class="col-form-label">
                            Email
                        </label>
                        <input type="text" class="form-control" id="email">
                    </div>
                    <div class="mb-3">
                        <label for="first-name" class="col-form-label">
                            Discord ID
                        </label>
                        <input type="text" class="form-control" id="Discord">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Submit</button>
            </div>
            </div>
        </div>
        </div> -->
    <!-- JavaScript Bundle with Popper -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
